extends layout/header
block content

    div(class="section")
        div(class="container")

            div(class="page-wrapper")

                div(class="page-main")
                    h2 Dati utente

                    <pm-form action="/user/doUpdatePassword">
                        - const username = data.utente.username
                        - const nome = data.utente.nome
                        - const cognome = data.utente.cognome
                        - const email = data.utente.email
                        <pm-form-input label="Nome utente" type="text" name="username" required="required" value="#{username}"></pm-form-input>
                        <pm-form-input label="Nome" type="text" name="nome" required="required" value="#{nome}"></pm-form-input>
                        <pm-form-input label="Cognome" type="text" name="cognome" required="required" value="#{cognome}"></pm-form-input>
                        <pm-form-input label="Email" type="email" name="email" required="required" value="#{email}"></pm-form-input>
                        <pm-form-select label="Profilo" name="idprofilo" required="required">
                            each profilo in data.listaProfili
                                - const idprofilo = profilo.idprofilo
                                - const descrprofilo = profilo.nome + ' (' + profilo.descrizione + ')'
                                - const select = (profilo.idprofilo == data.utente.idprofilo)
                                <pm-form-option value="#{idprofilo}" select="#{select}" label="#{descrprofilo}"></pm-form-option>
                        </pm-form-select>
                        <pm-form-button class="blue" label="Aggiorna" type="submit"></pm-form-button>
                    </pm-form>

                div(class="page-right")