extends layout/header
block content

    div(class="section")
        div(class="container")

            div(class="page-wrapper")

                div(class="page-main")
                    h2 Dati utente

                    div(class="form-wrapper")
                        form(action="/user/doUpdate" method="post")
                            div(class="form-row")
                                label Nome utente
                                input(placeholder="Nome utente", type="text", name="username", value=data.utente.username)
                            div(class="form-row")
                                label Nome
                                input(placeholder="Nome", type="text", name="nome", value=data.utente.nome)
                            div(class="form-row")
                                label Cognome
                                input(placeholder="Cognome", type="text", name="cognome", value=data.utente.cognome)
                            div(class="form-row")
                                label Email
                                input(placeholder="Email", type="email", name="email", value=data.utente.email)
                            div(class="form-row")
                                label Profilo
                                select(placeholder="Profilo", value=data.utente.idprofilo)
                                    each profilo in data.listaProfili
                                        option(value=profilo.idprofilo)=profilo.nome
                                    
                            div(class="form-row-button")
                                button(class="blue" type="button") Aggiorna

                div(class="page-right")